.landing-bg {
    background-image: url("/assets/images/background/landing1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: white;
}

.landing-bg-2 {
    background-image: url("/assets/images/background/landing2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    background-color: white;
}
