<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-gray-100">
    <!-- Header -->

    <div class="flex flex-0 py-1 px-1 head-tool border-b bg-white dark:bg-transparent">
        <div class="flex flex-0 items-center bg-white dark:bg-transparent max-w-screen">
            <a class="ml-2 text-lg font-medium whitespace-nowrap" [routerLink]="['../../']">
                Bài viết
            </a>
            <span>/</span>
            <a class="ml-2 text-lg font-medium text-line">
                {{data?.title}}
            </a>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto sm:p-2 shadow overflow-y-auto bg-gray-100 w-full h-full" cdkScrollable>
        <div class="flex-auto max-w-5xl mx-auto">
            <div class="w-full p-4 flex flex-col items-center border-1 border-gray-300 rounded bg-white mb-2">
                <h1 class="text-line color-primary text-4xl">{{data?.title}}</h1>
                <h1 class="text-line color-primary text-2xl cursor-pointer" [routerLink]="['../../../canhan/detail', data?.user]">{{data?.createUser}}</h1>
                <div class="flex">
                    <button class="button-warn mr-2" mat-flat-button type="button"
                        matTooltip="Báo cáo" (click)="onReport()">
                        <i class="fa-solid fa-flag icon-size-5"></i>
                        <span class="hidden md:inline-block ml-2">Báo cáo</span>
                    </button>
                    <p-dialog header="Header" [(visible)]="reportVisible" [breakpoints]="{ '768px': '75vw' }"
                        [style]="{ width: '50vw' }" [closable]="false">
                        <ng-template pTemplate="header">
                            <span class="text-xl font-bold">Báo cáo bài viết</span>
                        </ng-template>
                        <div class="flex flex-col justify-center">
                            <label for="gender" class="block">Nhập lý do:</label>
                            <textarea class="w-full" rows="3" pInputTextarea
                                [(ngModel)]="reportModel.reason"></textarea>
                        </div>
                        <p class="text-xs italic">(*) Bạn hãy nêu chi tiết lỗi vi phạm, vị trí để quản lý dễ xác định hơn. Bạn sẽ được cộng thêm point nếu báo cáo được phê duyệt.</p>
                        <ng-template pTemplate="footer">
                            <button mat-stroked-button matTooltip="Hủy bỏ" type="button"
                                (click)="reportVisible = false;">
                                <span>Hủy bỏ</span>
                            </button>
                            <button class="ml-2" color="primary" mat-flat-button matTooltip="Đồng ý" type="button"
                                (click)="onReportBook()">
                                <span>Đồng ý</span>
                            </button>
                        </ng-template>
                    </p-dialog>

                    <button *ngIf="!data?.isSaved" class="button-blue ml-2" mat-flat-button
                        matTooltip="Thêm vào danh sách lưu" type="button" (click)="onSavingPost()">
                        <i class="fa-solid fa-bookmark icon-size-5"></i>
                        <span class="hidden md:inline-block ml-2">Lưu</span>
                    </button>
                    <button *ngIf="data?.isSaved" class="button-red ml-2" mat-flat-button matTooltip="Bỏ lưu sách"
                        type="button" (click)="onUnSavingPost()">
                        <i class="fa-solid fa-bookmark icon-size-5"></i>
                        <span class="hidden md:inline-block ml-2">Bỏ lưu</span>
                    </button>
                </div>
            </div>

            <div class="w-full p-4 border-1 border-gray-300 rounded bg-white mb-2">
                <p class="mt-4 text-xl sm:text-2xl" [innerHTML]="data?.content"></p>
            </div>

            <div class="w-full p-4 flex flex-col items-center border-1 border-gray-300 rounded bg-white mb-2">
                <p-divider align="center" class="w-full">
                    <div class="inline-flex align-items-center">
                        <b class="text-2xl text-primary">Bình luận</b>
                    </div>
                </p-divider>
                <app-comment class="w-full" [objecId]="id" [apiListComment]="ApiListComment"
                    [apiSavecomment]="ApiSaveComment"></app-comment>
            </div>

            <div class="w-full p-4 flex flex-col items-center border-1 border-gray-300 rounded bg-white mb-2">
                <p-divider align="center" class="w-full">
                    <div class="inline-flex items-center">
                        <b class="text-2xl text-primary">Bài viết nổi bật</b>
                    </div>
                </p-divider>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-y-3 gap-x-3 w-full min-w-0 p-6">
                    <div *ngFor="let product of specialPost"
                        class="flex flex-row md:flex-col md:justify-center items-center" style="margin: 0 auto">
                        <img class="rounded-xl w-36 h-56" alt="Card"
                            src="https://primefaces.org/cdn/primeng/images/demo/product/{{product.image}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
