<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-gray-100">
    <!-- Header -->

    <!-- Main -->
    <div class="flex-auto sm:p-2 shadow overflow-y-auto bg-gray-100 w-full h-full" cdkScrollable>
        <div class="flex-auto w-panel">
            <div class="w-full p-4 flex flex-col border-1 border-gray-300 rounded bg-white mb-2">
                <p-divider align="center">
                    <div class="inline-flex align-items-center">
                        <b class="text-2xl md:text-4xl color-primary">Lọc</b>
                    </div>
                </p-divider>
                <div class="flex flex-wrap gap-y-3 gap-x-3 w-full min-w-0">
                    <div class="grow w-full sm:w-auto flex flex-col justify-center">
                        <label for="username2" class="block">Tên:</label>
                        <input id="username2" name="name" type="username" aria-describedby="username2-help" pInputText
                            [(ngModel)]="nameFilter" />
                    </div>
                    <div class="grow w-full sm:w-auto flex flex-col justify-center">
                        <label for="author" class="block">Tác giả:</label>
                        <input id="author" name="author" type="username" aria-describedby="author-help" pInputText
                            [(ngModel)]="authorFilter" />
                    </div>
                    <div class="grow w-full sm:w-auto flex flex-col justify-center">
                        <label for="topic">Thể loại:</label>
                        <p-multiSelect [style]="{ width: '100%'}" optionLabel="name" optionValue="id" id="topic"
                            name="topic" [options]="listTopic" appendTo="body" [filter]="true" filterBy="name"
                            placeholder="&nbsp;" [(ngModel)]="topicFilters">
                        </p-multiSelect>
                    </div>
                    <!-- <div class="grow w-full sm:w-auto flex flex-col justify-center">
                        <label for="topic">Sắp xếp theo:</label>
                        <p-dropdown [style]="{ width: '100%'}" optionLabel="label" optionValue="id" id="topic"
                            name="topic" [options]="listSort" appendTo="body" [filter]="true" filterBy="name"
                            placeholder="&nbsp;" [(ngModel)]="sortFilters">
                        </p-dropdown>
                        <p-toggleButton [(ngModel)]="sortOrder" onLabel="Tăng" offLabel="Giảm"></p-toggleButton>
                    </div> -->
                    <div class="w-full sm:w-auto sm:flex-none flex flex-col justify-end">
                        <label></label>
                        <button class="flex-none" style="height: 42px;" mat-flat-button color="primary" [tabIndex]="0"
                            type="button" matTooltip="Tìm kiếm" (click)="onFilter()">
                            <i class="fa-solid fa-search icon-size-6"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- List products -->
            <div class="w-full p-4 flex flex-col border-1 border-gray-300 rounded bg-white mb-2">
                <div class="grow w-full sm:w-auto flex flex-col justify-center items-end">
                    <div class="flex items-center justify-end w-40">
                        <p-dropdown [style]="{ width: '185px'}" optionLabel="label" optionValue="id" id="topic"
                            name="topic" [options]="listSort" appendTo="body" [filter]="true" filterBy="name"
                            placeholder="Lựa chọn sắp xếp" [(ngModel)]="sortFilters" [showClear]="true"
                            (onChange)="loadBooks(0)">
                        </p-dropdown>
                        <p-toggleButton class="ml-2" [(ngModel)]="sortOrder" onLabel="Tăng" offLabel="Giảm"
                            onIcon="pi pi-sort-alpha-up" offIcon="pi pi-sort-alpha-down-alt
                        " (onChange)="loadBooks(0)"></p-toggleButton>
                    </div>
                </div>
                <p-divider align="center">
                    <div class="inline-flex align-items-center">
                        <b class="text-2xl md:text-4xl color-primary">Kết quả</b>
                    </div>
                </p-divider>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-4 w-full min-w-0 p-6">
                    <div *ngFor="let book of listBook" class="flex flex-row md:justify-center items-center">
                        <img class="rounded-xl w-24 h-36 md:w-36 md:h-56 border cursor-pointer" alt="Card"
                            [src]="ApiImage + book.coverImage" [routerLink]="['./detail', book.id]" />
                        <div class="flex flex-col items-start h-full ml-4" style="width: calc(50%);">
                            <h3 class="text-xl font-semibold text-line cursor-pointer hover:underline"
                                [routerLink]="['./detail', book.id]">{{book.name}}</h3>
                            <h6 class="text-lg text-line">Tác giả: {{book.author}}</h6>
                            <div class="flex items-center gap-x-2 mb-1">
                                <span><i class="fa-solid fa-eye"></i> {{ book?.readCount }}</span>
                                <span><i class="fa-solid fa-star"></i> {{ book?.rating }}</span>
                                <span><i class="fa-solid fa-bookmark"></i> {{ book.savingCount }}</span>
                            </div>
                            <div class="flex items-center gap-x-2 mb-1">
                                <div>
                                    <p-tag *ngIf="book.status=='HOAN_THANH'" value="Hoàn thành"
                                        severity="success"></p-tag>
                                    <p-tag *ngIf="book.status=='CHUA_HOAN_THANH'" value="Chưa hoàn thành"
                                        severity="info"></p-tag>
                                </div>
                            </div>
                            <div class="mb-1">
                                <p-tag *ngIf="book?.coinCost==0; else elseBlock" value="Miễn phí"
                                    severity="success"></p-tag>
                                <ng-template #elseBlock>
                                    <p-tag *ngIf="book?.isUnlock==true" value="Đã mua" severity="info"></p-tag>
                                    <p-tag *ngIf="book?.isUnlock==false" [value]="'Mua với ' + book.coinCost + ' coin'"
                                        severity="warning"></p-tag>
                                </ng-template>
                            </div>
                            <h6 class="text-lg text-paragraph">{{book.description}}</h6>
                        </div>
                    </div>
                </div>
                <p-paginator [rows]="16" pageLinkSize="3" [showFirstLastIcon]="true" [totalRecords]="totalNum"
                    (onPageChange)="onPageChange($event)"></p-paginator>
            </div>
        </div>
    </div>

    <p-dialog header="Header" [(visible)]="readLastChapter" [breakpoints]="{ '768px': '75vw' }"
        [style]="{ width: '50vw' }" [closable]="false">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Lịch sử đọc sách</span>
        </ng-template>
        <p>Bạn đang đọc chương {{lastRead?.order}} - {{lastRead?.chapterName}} của truyện {{lastRead?.bookName}}. Bạn có muốn đọc tiếp không?</p>
        <ng-template pTemplate="footer">
            <button mat-stroked-button matTooltip="Hủy bỏ" type="button" (click)="readLastChapter = false;">
                <span>Hủy bỏ</span>
            </button>
            <button class="ml-2" color="primary" mat-flat-button matTooltip="Đồng ý" type="button" [routerLink]="['./chapter', lastRead?.chapterId]">
                <span>Đồng ý</span>
            </button>
        </ng-template>
    </p-dialog>
</div>
