<div class="flex flex-col max-w-310 md:min-w-310 overflow-hidden max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 px-3 sm:px-5 bg-primary text-on-primary">
        <div class="w-full md:w-1/4 text-lg font-medium flex items-center">
            <span class="w-full">Chương {{data.order}}</span>
        </div>
        <div class="hidden md:flex md:items-center w-1/2 text-lg font-medium">
            <input class="w-full h-8" type="text" pInputText
                (input)="dtdonvi.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </div>
        <div class="w-1/4 flex justify-end">
            <button mat-icon-button style="margin-right: 8px;" [tabIndex]="0" (click)="saveAndClose()">
                <i class="fa-regular fa-circle-check icon-size-6"></i>
            </button>
            <button mat-icon-button [tabIndex]="-1" (click)="close()">
                <i class="fa-regular fa-circle-xmark icon-size-6"></i>
            </button>
            <!-- <button pButton pRipple type="button" icon="pi pi-check"
                class="p-button-rounded p-button-outlined text-white w-8 h-8" style="margin-right: 8px;" [tabIndex]="0"
                (click)="saveAndClose()"></button>
            <button pButton pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-outlined text-white w-8 h-8" [tabIndex]="-1"
                (click)="close()"></button> -->
        </div>
    </div>

    <div #mainns class="flex flex-col flex-auto h-modal overflow-y-hidden">
        <div class="w-full h-full min-w-0 p-6">
            <div class="w-full flex" #dtdonvi>
                <div class="field-radiobutton pr-4">
                    <p-radioButton name="type" [value]="'TRUYEN_CHU'" [(ngModel)]="data.type" inputId="type2"
                        class="pr-2" [disabled]="true"></p-radioButton>
                    <label for="type2">Truyện chữ</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="type" [value]="'TRUYEN_TRANH'" [(ngModel)]="data.type" inputId="type1"
                        class="pr-2" [disabled]="true"></p-radioButton>
                    <label for="type1">Truyện tranh</label>
                </div>
            </div>

            <div class="flex flex-col pt-2 h-full overflow-hidden">
                <div class="mat-field-label mb-2">Nội dung</div>
                <quill-editor *ngIf="data.type == 'TRUYEN_CHU'" #editor
                    [styles]="{ width: '100%', height: mainns.offsetHeight + 'px'}" name="qtcontac"
                    [(ngModel)]="data.content" [disabled]="true"> </quill-editor>
                <p-fileUpload *ngIf="data.type == 'TRUYEN_TRANH'" #fileForm accept="image/*"
                    class="w-full text-base" multiple="multiple" chooseLabel="Chọn" cancelLabel="Hủy"
                    [customUpload]="true" (onClear)="removeAllFiles($event)" maxFileSize="102400000"
                    (onSelect)="myUploader($event, fileForm)" ngClass="overflow-y-auto" [disabled]="true">
                    <ng-template pTemplate="content">
                        <div class="overflow-y-auto">
                            <ul *ngIf="data.files">
                                <div *ngFor="let file of data.files">
                                    <div *ngIf="!file.isDeleted"
                                        class="flex items-center justify-between w-full md:w-auto mt-2">
                                        <div class="w-2/4">
                                            <div class="mat-field-label truncate ">{{file.fileName}}</div>
                                        </div>

                                        <div class="w-1/4">
                                            <p-inputNumber [name]="'file' + file.order" inputId="integeronly" [(ngModel)]="file.order" [min]="1" required> </p-inputNumber>
                                        </div>

                                        <div class="flex justify-end w-1/4">
                                            <button pButton icon="fa-solid fa-trash-can" type="button"
                                                (click)="deleteFile(file)"></button>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </ng-template>
                    <ng-template let-file pTemplate="file" let-i="index">
                        <div class="flex items-center justify-between w-full md:w-auto mt-2">
                            <div class="w-2/4">
                                <div class="mat-field-label truncate ">{{file.name}}</div>
                            </div>

                            <div class="w-1/4">
                                <p-inputNumber [name]="'upload'+i" inputId="integeronly" [(ngModel)]="file.order" [min]="1" required> </p-inputNumber>
                            </div>

                            <div class="flex justify-end w-1/4">
                                <button pButton icon="pi pi-times" type="button"
                                    (click)="removeFile(file, fileForm, $event)"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div>

    </div>
</div>
